QPushButton#back{
    border: none;
    background-color: rgba(22, 60, 134, 0);
    border-radius: 10px;
}
QPushButton#back:hover{
    background-color: #005aff;
}

QLabel#per{
    color: #fafbfc;
    font-size: 30px;
    font-weight: bold;
    /*margin-top: 20px;*/
    text-align: center;
}
QLabel#graphh{
    font-size: 20px;
    color: #c7c6c6;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Lucida Sans", "Noto Sans", sans-serif;
    margin-top:40px;
    text-align: center;
}
QLineEdit#grade{
    border: none;
    background-color: #e7e7e7;
    padding: 20px;
    /*margin-bottom: 40px;*/
    border-radius: 10px;
    font-weight: bold;
    color: #0000ff;
}
QLabel#graph{
    font-size: 15px;
    color: #c7c6c6;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Lucida Sans", "Noto Sans", sans-serif;
    /*margin-top:50px;*/
}
QPushButton#show{
    border: none;
    margin-top: 40px;
    padding: 20px;
    background-color: #4984bb;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
}
QPushButton#show:hover {
    background-color: #2a75f5;
}

QPushButton#logo {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}