QLabel#name {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #014067;
    padding: 10px;
    border-radius: 5px;
}
QLabel#name:hover {
    background-color: #02578a;
}
QLabel#title {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Lucida Sans", "Noto Sans", sans-serif;
    font-size: 30px;
    color: white;
}
QLabel#IconLabel {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Lucida Sans", "Noto Sans", sans-serif;
    color: white;
    font-size: 15px;
}
QPushButton {
    color: white;
    border: none;
}

QPushButton#pen:hover {
    background-color: #024d7c;
    border: none;
    border-radius: 5px;
}

QInputDialog QLineEdit{
    border: none;
    background-color: #e7e7e7;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    color: #000000;
    font-weight: bold;
}
QInputDialog QLabel{
    color: #ffffff;
    font-weight: bold;
}


QMessageBox {
    background-color: #ffffff;
}

QMessageBox QLabel {
    color: #ce0303;
    background-color: #ffffff;
}

QMessageBox QPushButton {
    background-color: #005aff;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

QMessageBox QPushButton:hover {
    background-color: #2a75f5;
}