QLabel#lb1{
    font-size: 60px;
    color: aliceblue;
    font-weight: bold;
}

QLabel#lb2{
    font-size: 20px;
    color: #c7c6c6;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Lucida Sans", "Noto Sans", sans-serif;
}

QLineEdit#field {
    border: none;
    background-color: #e7e7e7;
    margin: 10px;
    padding: 20px 20px 20px 35px;
    border-radius: 10px;
    font-weight: bold;
    color: #0000ff;
}

QPushButton#login{
    border: none;
    margin: 10px;
    padding: 20px;
    background-color: #4984bb;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
}

QPushButton#back{
    border: none;
    background-color: rgba(22, 60, 134, 0);
    border-radius: 10px;
}

QPushButton#back:hover{
    background-color: #005aff;
}

QPushButton#login:hover {
    background-color: #2a75f5;
}

QMessageBox {
    background-color: #ffffff;
}

QMessageBox QLabel {
    color: #ce0303;
    background-color: #ffffff;
}

QMessageBox QPushButton {
    background-color: #005aff;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

QMessageBox QPushButton:hover {
    background-color: #2a75f5;
}